# {{ ansible_managed }}
<VirtualHost *:80>

    ServerName {{ item }}
    Redirect permanent / http://{{ host_name }}/

</VirtualHost>
<IfModule mod_ssl.c>
<VirtualHost *:443>
    ServerName {{ item }}
    Redirect permanent / https://{{ host_name }}/

    SSLEngine on

    SSLCertificateFile {{ ssl_certificate_file }}
    SSLCertificateKeyFile {{ ssl_certificate_key_file }}

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>
    <Directory /usr/lib/cgi-bin>
        SSLOptions +StdEnvVars
    </Directory>

    BrowserMatch "MSIE [2-6]" \
        nokeepalive ssl-unclean-shutdown \
        downgrade-1.0 force-response-1.0
    BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown

</VirtualHost>
</IfModule>

# vim: syntax=apache
