# {{ ansible_managed }}
<Directory {{ document_root }}>
    AllowOverride AuthConfig FileInfo Indexes Limit Options=All,MultiViews
</Directory>
<VirtualHost *:80>

    ServerName {{ host_name }}
    DocumentRoot {{ document_root }}

    ErrorLog /var/log/{{ apache_service_name }}/{{ host_name }}.error.log
    CustomLog /var/log/{{ apache_service_name }}/{{ host_name }}.access.log combined

</VirtualHost>
<IfModule mod_ssl.c>
<VirtualHost *:443>
    ServerName {{ host_name }}
    DocumentRoot {{ document_root }}

    ErrorLog /var/log/{{ apache_service_name }}/{{ host_name }}.error.log
    CustomLog /var/log/{{ apache_service_name }}/{{ host_name }}.access.log combined

    SSLEngine on

    SSLCertificateFile {{ ssl_certificate_file }}
    SSLCertificateKeyFile {{ ssl_certificate_key_file }}

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>
    <Directory /usr/lib/cgi-bin>
        SSLOptions +StdEnvVars
    </Directory>

    BrowserMatch "MSIE [2-6]" \
        nokeepalive ssl-unclean-shutdown \
        downgrade-1.0 force-response-1.0
    BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown

</VirtualHost>
</IfModule>

# vim: syntax=apache
