<Directory /var/www/{{ hostname }}>
    AllowOverride AuthConfig FileInfo Limit Options
</Directory>
<VirtualHost *:80>
    # {{ ansible_managed }}

    ServerName {{ hostname }}
    DocumentRoot /var/www/{{ hostname }}

    ErrorLog /var/log/{{ apache_service_name }}/{{ hostname }}.error.log
    CustomLog /var/log/{{ apache_service_name }}/{{ hostname }}.access.log combined

</VirtualHost>
<IfModule mod_ssl.c>
<VirtualHost *:443>
    ServerName {{ hostname }}
    DocumentRoot /var/www/{{ hostname }}

    ErrorLog /var/log/{{ apache_service_name }}/{{ hostname }}.error.log
    CustomLog /var/log/{{ apache_service_name }}/{{ hostname }}.access.log combined

    SSLEngine on

    SSLCertificateFile /etc/ssl/certs/local.pem

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>
    <Directory /usr/lib/cgi-bin>
        SSLOptions +StdEnvVars
    </Directory>

    BrowserMatch "MSIE [2-6]" \
        nokeepalive ssl-unclean-shutdown \
        downgrade-1.0 force-response-1.0
    BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown

</VirtualHost>
</IfModule>

# vim: syntax=apache
