# {{ ansible_managed }}
<VirtualHost *:80>

    # If you omit the ServerName directive from any name-based virtual host, 
    # the server will default to a fully qualified domain name (FQDN) derived
    # from the system hostname. This implicitly set server name can lead to 
    # counter-intuitive virtual host matching and is discouraged.
    # https://httpd.apache.org/docs/current/vhosts/name-based.html

    Redirect 403 /

</VirtualHost>
<IfModule mod_ssl.c>
<VirtualHost *:443>

    # If you omit the ServerName directive from any name-based virtual host, 
    # the server will default to a fully qualified domain name (FQDN) derived
    # from the system hostname. This implicitly set server name can lead to 
    # counter-intuitive virtual host matching and is discouraged.
    # https://httpd.apache.org/docs/current/vhosts/name-based.html

    Redirect 403 /

    SSLEngine on

    SSLCertificateFile {{ ssl_certificate_file }}
    SSLCertificateKeyFile {{ ssl_certificate_key_file }}

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>
    <Directory /usr/lib/cgi-bin>
        SSLOptions +StdEnvVars
    </Directory>

    BrowserMatch "MSIE [2-6]" \
        nokeepalive ssl-unclean-shutdown \
        downgrade-1.0 force-response-1.0
    BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown

</VirtualHost>
</IfModule>

# vim: syntax=apache
